<% layout('../layout') -%>
<div class="row btn-group actions">
<a class="btn btn-info" href="/admin/application">Applications</a>
<a class="btn btn-info" href="/admin/application/<%= item.Id %>">Application</a>
</div>
<form method="post">
<div class='row'>
    <table class="table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td><%= item.Name %></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea name='Description'><%= item.Description %></textarea></td>
        </tr>
        <tr>
            <td>Is Public</td>
            <td><input type="checkbox" name="IsPublic" <%= item.IsPublic ? 'checked' : '' %>/></td>
        </tr>
    </table>
</div>
<div class='row actions'>
<input class="btn btn-primary" type="submit" value="Update" />
</div>
</form>
