<% layout('../layout') -%>
<div class="row btn-group actions">
<a class="btn btn-info" href="/admin/application">Applications</a>
<a class="btn btn-info" href="/admin/application/<%= appid %>">Application</a>
<a class="btn btn-info" href="/admin/application/<%= appid %>/entity/<%= entid %>">Entity</a>
</div>
<form method="post">
<div class='row'>
    <table class="table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name"/></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><select name="Type">
<%
    types.forEach(function (type) {
%>     
                <option><%= type %></option>
<%
    });
%>
            </select></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea name="Description"></textarea></td>
        </tr>
        <tr>
            <td>Is Description</td>
            <td><input type="checkbox" name="IsDescription" /></td>
        </tr>
        <tr>
            <td>In List</td>
            <td><input type="checkbox" name="InList" /></td>
        </tr>
    </table>
</div>
<div class='row actions'>
<input class="btn btn-primary" type="submit" value="Create" />
</div>
</form>
